
.thumnails{
width:100%;
}
.F_grid{

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#stat_bar{

display:grid;
grid-template-columns: 1fr 1fr 1fr;

border-top:solid 1px gray;
border-bottom:solid 1px gray;

margin-top: 5px;
margin-bottom:5px;
}
.stat{
  text-align: center;
}
.circle_pic{

border:solid 1px white;
border-radius:50%;

width:100%;
height:100%;
object-fit:cover;

}
#pro_pic 
{
  width:50px;
  height:50px;
}
.h_pic{

  width:35px;
  height:35px;

  margin-left:auto;
  margin-right: auto;


}
#highlights_area{

  display:grid;
  grid-template-columns:45px 45px 1fr;
  margin-bottom: 30px;;

}
.highlight{

  text-align: center;
}

#profile{
  display:grid;
  grid-template-columns: 1fr 3.5fr;
}

#profile_info{
  display:grid;
  grid-template-rows: 1fr 1fr;

  height: 50px;
}

#id{
font-size: 23px;;
font-weight:100;

}

#profileb{

  height:20px;
  width:200px;
  border-width: 0.3px;
  border-radius: 4px;
  }

  #top{
    display:grid;
    grid-template-columns: 4fr 7fr 4fr;
    height:50px;
  }

  #top img{

  object-fit:contain;
  }

  #top input{
 
    margin-top:5px;
    height: 50%;
    width:95%;
    text-align: center;



  }