
.thumnails{
width:100%;
}
.F_grid{

  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#stat_bar{

display:grid;
grid-template-columns: 1fr 1fr 1fr;

border-top:solid 1px gray;
border-bottom:solid 1px gray;

margin-top: 5px;
margin-bottom:5px;
}
.stat{
  text-align: center;
}
.circle_pic{

border:solid 1px white;
border-radius:50%;

width:100%;
height:100%;
object-fit:cover;

}
#pro_pic 
{
  width:15vw;
  height:15vw;
}
.h_pic{

  width:10vw;
  height:10vw;

  margin-left:auto;
  margin-right: auto;


}
#highlights_area{

  display:grid;
  grid-template-columns:12vw 12vw 1fr;
  margin-bottom: 10vw;;

}
.highlight{

  text-align: center;
}

#profile{
  display:grid;
  grid-template-columns: 1fr 3.5fr;
}

#profile_info{
  display:grid;
  grid-template-rows: 1fr 1fr;
}

#id{
font-size: 6vw;;
font-weight:100;

}

#profileb{
  border-width: 0.3px;
  border-radius: 4px;
  font-size: 2vw;
  }

  #top{
    display:grid;
    grid-template-columns: 4fr 7fr 4fr;
    height:10vw;
    min-height: 10vw;
    margin-bottom: 3vw;
  
  }

  i{
    font-size: 40px;
    color:purple;
  }

  #top img{

  object-fit:contain;
  }

  #top input{
 
    margin-top:5px;
    height: 50%;
    width:95%;
    text-align: center;
    font-size: 3vw;
  }

  .top_icons{
    margin-top: 5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }


  #top div{
    font-size: 5vw;

  }

#sub_icon{

  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  text-align: center;
  margin-bottom: 1px;
}

.t_btmicon>img{

  height:5vw;
  
  }
  

.btmicon>img{

height:5vw;

}










.t_btmicon{
  padding-bottom: 5px;
  border-bottom: solid gray 3px;
}

.a{
  margin-top: 0.5vw;
  height:5vw;
  max-height: 40px;;
  text-align: center;


}

.setting_pic{

  height:3vw;



}

body{

  font-size: 3vw;

}

#top>img{

  height:8vw;


}